.filter button{
    font-size: 16px;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.filter button:first-child{
    margin-right: 18px;
}

.filter button:nth-child(2){
    margin-right: 18px;
}

.mobileCuisines{
    display: none;
}

#cuisine-Modal-Window{
    width: 80%;
    background-color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
}


#cuisine-Modal-Window > .cuisine-list{
    display: flex;
}


#cuisine-Modal-Window > .cuisine-list{
    display: flex;
    margin-right: 0;
    padding: 1rem 0;
    width: auto;
}

#cuisine-Modal-Window > .cuisine-list h2{
    font-size: 20px;
    padding: 0;
}

#cuisine-Modal-Window > .cuisine-list > .cuisine-item{
    margin: 19px;
}

#cuisine-Modal-Window > .cuisine-list > .cuisine-item label{
    font-size: 15px;
}

@media(max-width: 710px){
    .mobileCuisines{
        display: block;
        background-color: #dfdfdf;
    }
}