.DeliveryTime > div {
    display: flex;
    justify-content: center;
    width: 7rem;
    background-color: #fff;
    padding: 2px;
    border-radius: 30px;
    margin-left: 10px;
    align-items: center;
}

.DeliveryTime{
    display: flex;
    position: relative;
    bottom: 2.5rem;
    justify-content: flex-end;
    width: 100%;
    right: 10px;
}

.TextDesctiption{
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    padding-left: 10px;
  
}

.TextDesctiption h2{
    margin-bottom: 5px;
    font-size: 18px;
}

.TextDesctiption p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

#description{
    margin-bottom: 5px !important;
}

.Rate{
    display: flex;
}

.RateDelivery{
    display: flex;
}

