.filter button{
    font-size: 16px;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.filter button:first-child{
    margin-right: 18px;
}

.filter button:nth-child(2){
    margin-right: 18px;
}

.mobileCuisines{
    display: none;
}

@media(max-width: 710px){
    .mobileCuisines{
        display: block;
        background-color: #dfdfdf;
    }
}