.popUpContainer{
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000000a1;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out; 
}

.popUpContainer.active{
    opacity: 1;
}


