.filter button{
    font-size: 16px;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.filter button:first-child{
    margin-right: 18px;
}

.filter button:nth-child(2){
    margin-right: 18px;
}

.mobileCuisines{
    display: none;
}

.modal-window > div:hover{
    background-color: #fbf8f8b8;
    transition: 0.3s all ease-in-out;
}

.modal-window{
    width: 80%;
}

.modal-window > .cuisine-list{
    display: flex;
    margin-right: 0;
    padding: 1rem 0;
    width: auto;
}

.modal-window > .cuisine-list h2{
    font-size: 20px;
    padding: 0;
}

.modal-window > .cuisine-list > .cuisine-item{
    margin: 19px;
}

.modal-window > .cuisine-list > .cuisine-item label{
    font-size: 15px;
}

@media(max-width: 710px){
    .mobileCuisines{
        display: block;
        background-color: #dfdfdf;
    }
}