.cuisine-list{
    width: 21rem;
    margin-right: 15px;
}

.cuisine-list h2{
    text-align: center;
    padding-top: 15px;
}

.cuisine-item{
    display: flex;
    margin: 12px;
    background-color: #e4aa1eeb;
    border-radius: 4px;
    align-items: center;
}

.cuisine-item label{
    margin-left: 8px;
    padding: 0.3rem;
}

.cuisine-item input{
    margin-left: 9px;
    align-items: center;
}

.cuisine-item:active{
    border-radius: 2px black solid;
}

#AcceptBtn{
    display: flex;
    justify-content: center;
}

.cuisine-list > .modal-window{
    display: flex;
}

@media(max-width: 710px){
    .cuisine-list{
        display: none;
    }
}